body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper_header header {
  width: 100%;
  background: url(./bg1.jpg) no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vh);
}

.wrapper_header .cols_container {
  /* padding: 20px 25px; */
  text-align: center;
  max-width: 65%;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 895px) {
  .wrapper_header .cols_container {
    text-align: center;
    max-width: 70%;
    position: relative;
    margin: 0 auto;
    
  }
}

@media (max-width: 636px) {
  .wrapper_header .cols_container {
    text-align: center;
    max-width: 70%;
    position: relative;
    margin: 0 auto;
  }
}

.wrapper_header .cols_container .personal_info {
  position: absolute;
  top: -50px;
  left: 7%;
  transform: translateX(-50%);
}

@media (max-width: 895px) {
  .wrapper_header .cols_container .personal_info {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 414px) {
  .wrapper_header .cols_container .personal_info {
    left: 50%;
    transform: translateX(-50%);

    /* width: 100%; */
  }
}

.wrapper_header .cols_container .personal_info .img_container img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  border: 5px #fff solid;
}

.wrapper_header .cols_container .personal_text {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 5%;
}

@media (max-width: 895px) {
    .wrapper_header .cols_container .personal_text {
        
    
 
  align-content: center;
    }
  }


@media (max-width: 895px) {
  .wrapper_header .cols_container .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  }
}
@media (max-width: 1335px) {
  .wrapper_header .cols_container .personal_text {
    display: flex;
    gap: 10px;
    /* margin-left: 25%; */
  }
}

@media (max-width: 895px) {
  .wrapper_header .cols_container .personal_text {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    flex-direction: column;
    gap: 10px;
    /* margin-left: 25%; */
  }
}

.wrapper_header .cols_container .personal_text .personal_about .person_name {
  font-weight: 600;
  font-size: 1.5rem;
}

.wrapper_header .cols_container .personal_text .personal_about .person_fan ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.wrapper_header .cols_container .personal_text .personal_btn button {
  background: #fff;
  border: #f8aa4b solid 2px;
  border-radius: 20px;
  color: #f8aa4b;
  padding: 5px 18px;
  cursor: pointer;
}

.wrapper_header .cols_container .personal_text .personal_btn button:hover {
  background: #f8aa4b;
  color: #fff;
}

.wrapper_header .cols_container .tabs {
  display: flex;
}

.wrapper_header .cols_container .tabs .tabs_pages {
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid #d8d5d0;
  width: 100%;
}

.wrapper_header .cols_container .tabs .tabs_pages .tabs_btn:nth-child(1) {
  background-color: rgb(250, 239, 137);
}

.wrapper_header .cols_container .tabs .tabs_pages .tabs_btn:hover {
  background-color: rgb(250, 239, 137);
}

.wrapper_header .cols_container .tabs .tabs_pages button {
  background-color: #fff;
  border: 0px solid #d8d5d0;
  padding: 0.4rem 2rem;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  outline: none;
}

@media (max-width: 794px) {
  .wrapper_header .cols_container .tabs .tabs_pages button {
    padding: 0.4rem 1rem;

  }
}

.wrapper_header .cols_container .tabs {
  color: black;
  font-weight: 600;
}

.wrapper_header .cols_container .article {
  align-content: flex-start;
  display: flex;
  gap: 30px;
}
.wrapper_header .cols_container .article img {
  width: 400px;
  height: 360px;
  object-fit: cover;
}

.wrapper_header .cols_container .article .article_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}
.wrapper_header .cols_container .article .article_text span {
  font-weight: 600;
  font-size: large;
}
.wrapper_header .cols_container .article .article_text p {
  text-align: justify;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 600;
  color: #959393;
}

/* 手機尺寸 */

/* @media screen and (min-width:1024px){
    { width: 33.33%;}
}
@media screen and (min-width:1200px){
    { width: 25%;}
} */
